body {
	font-family: Helvetica;
	font-size: 16px;
	color: #333;
	width: 960px;
	margin: 0 auto;
	background-color: #333;
}

#gameTitle {
	color: #fff;
	font-size: 3em;
	margin-bottom: 0;
	margin-top: 1em;
}

